In [1]:
import numpy as np
import pandas as pd

In [30]:
# Creamos tabla
tabla = pd.DataFrame(columns=['Prob', 'A', 'B', 'C'], index=['Expansion', 'Normal', 'Recesion'])
tabla.index.name = 'State'
tabla['Prob']=np.array([0.3, 0.4, 0.3])
tabla['A']=np.array([-0.2, 0.05, 0.4])
tabla['B']=np.array([-.05,.1,.15])
tabla['C']=np.array([0.05,.03,.02])

tabla.round(6)

           Prob     A     B     C
State
Expansion   0.3 -0.20 -0.05  0.05
Normal      0.4  0.05  0.10  0.03
Recesion    0.3  0.40  0.15  0.02

In [31]:
tabla.loc['Rend_esp']= np.array([None,
                                np.sum(tabla.Prob*tabla.A),
                                np.sum(tabla.Prob*tabla.B),
                                np.sum(tabla.Prob*tabla.C)])
tabla.round(4)

           Prob     A     B      C
State
Expansion   0.3 -0.20 -0.05  0.050
Normal      0.4  0.05  0.10  0.030
Recesion    0.3  0.40  0.15  0.020
Rend_esp    NaN  0.08  0.07  0.033

In [32]:
tabla['PortABC']=(1/3)*tabla['A']+(1/3)*tabla['C']+(1/3)*tabla['B']
tabla

           Prob     A     B      C   PortABC
State
Expansion   0.3 -0.20 -0.05  0.050 -0.066667
Normal      0.4  0.05  0.10  0.030  0.060000
Recesion    0.3  0.40  0.15  0.020  0.190000
Rend_esp    NaN  0.08  0.07  0.033  0.061000

In [33]:
ErPrtTP=np.sum(tabla.Prob*tabla.PortABC)
ErPrtTP

0.060999999999999985

In [21]:
covAB=np.sum(tabla.Prob[:3]*(tabla.A[:3]-tabla.A[3])*(tabla.B[:3]-tabla.B[3]))
covAB

-0.0009600000000000001

In [22]:
## Volatilidad
# Toyota
stdA=np.sqrt(np.sum(tabla.Prob[:3]*(tabla.A[:3]-tabla.A[3])**2))
stdB=np.sqrt(np.sum(tabla.Prob[:3]*(tabla.B[:3]-tabla.B[3])**2))
stdC=np.sqrt(np.sum(tabla.Prob[:3]*(tabla.C[:3]-tabla.C[3])**2))

stdA,stdB,stdC

(0.23366642891095846, 0.08124038404635961, 0.011874342087037918)

In [23]:
corrAB=covAB/(stdA*stdB)
corrAB

-0.05057116329928112

In [24]:
covAC=np.sum(tabla.Prob[:3]*(tabla.A[:3]-tabla.A[3])*(tabla.C[:3]-tabla.C[3]))
corrAC=covAC/(stdA*stdC)
corrAC

-0.9514764623988068

In [25]:
covCB=np.sum(tabla.Prob[:3]*(tabla.C[:3]-tabla.C[3])*(tabla.B[:3]-tabla.B[3]))
corrCB=covCB/(stdC*stdB)
corrCB

-0.9951526617137966

In [26]:
covAB=np.sum(tabla.Prob[:3]*(tabla.A[:3]-tabla.A[3])*(tabla.B[:3]-tabla.B[3]))
corrAB=covAB/(stdA*stdB)
corrAB

0.9166023347994703

In [29]:
(2/5)*.2+(1/5)*.15+(2/5)*.17

0.17800000000000002