# Descarga de históricos de precios

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Copper_Price_History_USD.png" width="600px" height="400px" />

> Entonces, en la clase anterior vimos que podemos caracterizar la distribución de rendimientos de un activo mediante una medida de tendencia central (media: rendimiento esperado) y una medida de dispersión (desviación estándar: volatilidad). 

> Estas medidas se pueden calcular cuando tenemos escenarios probables de la economía y conocemos sus probabilidades de ocurrencia. Ahora, si no conocemos dichos escenarios, ¿qué podemos hacer?

*Objetivos:*
- Aprender a importar datos desde archivos separados por comas (extensión `.csv`).
- Descargar el paquete `pandas-datareader`.
- Aprender a descargar datos desde fuentes remotas.

**Referencias:**
- http://pandas.pydata.org/
- https://pandas-datareader.readthedocs.io/en/latest/

## 1. Importar datos desde archivos locales

<img style="float: left; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/8/86/Microsoft_Excel_2013_logo.svg" width="300px" height="125px" />

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg" width="300px" height="125px" />

### 1.1. ¿Porqué?

- Muchas veces tenemos bases de datos proporcionadas como archivos locales.
- Para poder analizar, procesar y tomar decisiones con estos datos, es necesario importarlos a python.
- Ejemplos de archivos donde comúnmente se guardan bases de datos son: 
 - `.xls` o `.xlsx`
 -  `.cvs`
- Excel es ampliamente usado en distintos campos de aplicación en todo el mundo.
- Nos guste o no, esto también aplica a ciencia de datos (ingeniería financiera).
- Muchos de ustedes en su futuro académico y profesional tendrán que trabajar con estas hojas de cálculo, pero no siempre querrán trabajar directamente con ellas si tienen que hacer un análisis un poco más avanzado de los datos.
- Por eso en Python se han implementado herramientas para leer, escribir y manipular este tipo de archivos.

En esta clase veremos cómo podemos trabajar con Excel y Python de manera básica utilizando la librería *pandas*.

### 1.2. Reglas básicas para antes de leer hojas de cálculo

Antes de comenzar a leer una hoja de cálculo en Python (o cualquier otro programa), debemos considerar el ajustar nuestro archivo para cumplir ciertos principios, como:

- La primer fila de la hoja de cálculo se reserva para los títulos, mientras que la primer columna se usa para identificar la unidad de muestreo o indización de los datos (tiempo, fecha, eventos...)
- Evitar nombres, valores o campos con espacios en blanco. De otra manera, cada palabra se interpreta como variable separada y resultan errores relacionados con el número de elementos por línea.
- Los nombres cortos se prefieren sobre nombre largos.
- Evite símbolos como ?, $, %, ^, &, *, (,),-,#, ?, ,,<,>, /, |, \, [ ,] , {, y }.
- Borre cualquier tipo de comentario que haya hecho en su archivo para evitar columnas extras.
- Asegúrese de que cualquier valor inexistente esté indicado como NA.

Si se hizo algún cambio, estar seguro de guardarlo. 

Si estás trabajando con Microsoft Excel, verás que hay muchas opciones para guardar archivos, a parte de las extensiones por defecto .xls or .xlsx. Para esto ir a “Save As” y seleccionar una de las extensiones listadas en “Save as Type”. 

La extensión más común es .csv (archivos de texto separados por comas).

**Actividad.** Descargar precios de acciones de Apple (AAPL) de Yahoo Finance, con una ventana de tiempo desde el 01-01-2015 al 31-12-2017 y frecuencia diaria.

- Ir a https://finance.yahoo.com/.
- Buscar cada una de las compañías solicitadas.
- Dar click en la pestaña *'Historical Data'*.
- Cambiar las fechas en *'Time Period'*, click en *'Apply'* y, finalmente, click en *'Download Data'*.
- **¡POR FAVOR! GUARDAR ESTOS ARCHIVOS EN UNA CARPETA LLAMADA precios EN EL MISMO DIRECTORIO DONDE TIENEN ESTE ARCHIVO**.

### 1.3. Carguemos archivos .csv como ventanas de datos de pandas

Ahora podemos comenzar a importar nuestros archivos.

Una de las formas más comunes de trabajar con análisis de datos es en pandas. Esto es debido a que pandas está construido sobre NumPy y provee estructuras de datos y herramientas de análisis fáciles de usar.

In [1]:
# Importamos pandas
import pandas as pd

Para leer archivos `.csv`, utilizaremos la función `read_csv` de pandas:

In [2]:
# Función read_csv
data=pd.read_csv("precios/AAPL.csv")

In [3]:
# Cargamos hoja de calculo en un dataframe
aapl=pd.DataFrame(data)
aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,111.389999,111.440002,107.349998,109.330002,102.319397,53204600
1,2015-01-05,108.290001,108.650002,105.410004,106.250000,99.436890,64285500
2,2015-01-06,106.540001,107.430000,104.629997,106.260002,99.446251,65797100
3,2015-01-07,107.199997,108.199997,106.699997,107.750000,100.840714,40105900
4,2015-01-08,109.230003,112.150002,108.699997,111.889999,104.715256,59364500
5,2015-01-09,112.669998,113.250000,110.209999,112.010002,104.827553,53699500
6,2015-01-12,112.599998,112.629997,108.800003,109.250000,102.244522,49650800
7,2015-01-13,111.430000,112.800003,108.910004,110.220001,103.152313,67091900
8,2015-01-14,109.040001,110.489998,108.500000,109.800003,102.759262,48337000
9,2015-01-15,110.000000,110.059998,106.660004,106.820000,99.970337,60014000
10,2015-01-16,107.029999,107.580002,105.199997,105.989998,99.193558,78513300
11,2015-01-20,107.839996,108.970001,106.500000,108.720001,101.748512,49899900
12,2015-01-21,108.949997,111.059998,108.269997,109.550003,102.525291,48575900
13,2015-01-22,110.260002,112.470001,109.720001,112.400002,105.192535,53796400
14,2015-01-23,112.300003,113.750000,111.529999,112.980003,105.735344,46464800
15,2015-01-26,113.739998,114.360001,112.800003,113.099998,105.847649,55615000
16,2015-01-27,112.419998,112.480003,109.029999,109.139999,102.141586,95568700
17,2015-01-28,117.629997,118.120003,115.309998,115.309998,107.915932,146477100
18,2015-01-29,116.320000,119.190002,115.559998,118.900002,111.275742,84436400
19,2015-01-30,118.400002,120.000000,116.849998,117.160004,109.647324,83745500
20,2015-02-02,118.050003,119.169998,116.080002,118.629997,111.023064,62739100
21,2015-02-03,118.500000,119.089996,117.610001,118.650002,111.041771,51915700
22,2015-02-04,118.500000,120.510002,118.309998,119.559998,111.893402,70149700
23,2015-02-05,120.019997,120.230003,119.250000,119.940002,112.692047,42246200
24,2015-02-06,120.019997,120.250000,118.449997,118.930000,111.743088,43706600
25,2015-02-09,118.550003,119.839996,118.430000,119.720001,112.485352,38889800
26,2015-02-10,120.169998,122.150002,120.160004,122.019997,114.646355,62008500
27,2015-02-11,122.769997,124.919998,122.500000,124.879997,117.333511,73561800
28,2015-02-12,126.059998,127.480003,125.570000,126.459999,118.818039,74474500
29,2015-02-13,127.279999,127.279999,125.650002,127.080002,119.400589,54272200
...,...,...,...,...,...,...,...
725,2017-11-16,171.179993,171.869995,170.300003,171.100006,169.157410,23637500
726,2017-11-17,171.039993,171.389999,169.639999,170.149994,168.218185,21899500
727,2017-11-20,170.289993,170.559998,169.559998,169.979996,168.050110,16262400
728,2017-11-21,170.779999,173.699997,170.779999,173.139999,171.174255,25131300
729,2017-11-22,173.360001,175.000000,173.050003,174.960007,172.973587,25588900
730,2017-11-24,175.100006,175.500000,174.649994,174.970001,172.983475,14026700
731,2017-11-27,175.050003,175.080002,173.339996,174.089996,172.113464,20716800
732,2017-11-28,174.300003,174.869995,171.860001,173.070007,171.105042,26428800
733,2017-11-29,172.630005,172.919998,167.160004,169.479996,167.555801,41666400
734,2017-11-30,170.429993,172.139999,168.440002,171.850006,169.898895,41527200
735,2017-12-01,169.949997,171.669998,168.500000,171.050003,169.107971,39759300
736,2017-12-04,172.479996,172.619995,169.630005,169.800003,167.872177,32542400
737,2017-12-05,169.059998,171.520004,168.399994,169.639999,167.713974,27350200
738,2017-12-06,167.500000,170.199997,166.460007,169.009995,167.091141,28560000
739,2017-12-07,169.029999,170.440002,168.910004,169.320007,167.397629,25673300
740,2017-12-08,170.490005,171.000000,168.820007,169.369995,167.447037,23355200
741,2017-12-11,169.199997,172.889999,168.789993,172.669998,170.709595,35273800
742,2017-12-12,172.149994,172.389999,171.460007,171.699997,169.750595,19409200
743,2017-12-13,172.500000,173.539993,172.000000,172.270004,170.314117,23818400
744,2017-12-14,172.399994,173.130005,171.649994,172.220001,170.264694,20476500
745,2017-12-15,173.630005,174.169998,172.460007,173.970001,171.994812,40169300
746,2017-12-18,174.880005,177.199997,174.860001,176.419998,174.417007,29421100
747,2017-12-19,175.029999,175.389999,174.089996,174.539993,172.558350,27436400
748,2017-12-20,174.869995,175.419998,173.250000,174.350006,172.370514,23475600
749,2017-12-21,174.169998,176.020004,174.100006,175.009995,173.023026,20949900
750,2017-12-22,174.679993,175.419998,174.500000,175.009995,173.023026,16349400
751,2017-12-26,170.800003,171.470001,169.679993,170.570007,168.633423,33185500
752,2017-12-27,170.100006,170.779999,169.710007,170.600006,168.663101,21498200
753,2017-12-28,171.000000,171.850006,170.479996,171.080002,169.137650,16480200
754,2017-12-29,170.520004,170.589996,169.220001,169.229996,167.308640,25999900

#### Anotación #1
- Quisieramos indizar por fecha.

In [4]:
# Cargamos hoja de calculo en un dataframe
data=pd.read_csv("precios/AAPL.csv",index_col='Date')
aapl=pd.DataFrame(data)
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,111.389999,111.440002,107.349998,109.330002,102.319397,53204600
2015-01-05,108.290001,108.650002,105.410004,106.250000,99.436890,64285500
2015-01-06,106.540001,107.430000,104.629997,106.260002,99.446251,65797100
2015-01-07,107.199997,108.199997,106.699997,107.750000,100.840714,40105900
2015-01-08,109.230003,112.150002,108.699997,111.889999,104.715256,59364500
2015-01-09,112.669998,113.250000,110.209999,112.010002,104.827553,53699500
2015-01-12,112.599998,112.629997,108.800003,109.250000,102.244522,49650800
2015-01-13,111.430000,112.800003,108.910004,110.220001,103.152313,67091900
2015-01-14,109.040001,110.489998,108.500000,109.800003,102.759262,48337000
2015-01-15,110.000000,110.059998,106.660004,106.820000,99.970337,60014000
2015-01-16,107.029999,107.580002,105.199997,105.989998,99.193558,78513300
2015-01-20,107.839996,108.970001,106.500000,108.720001,101.748512,49899900
2015-01-21,108.949997,111.059998,108.269997,109.550003,102.525291,48575900
2015-01-22,110.260002,112.470001,109.720001,112.400002,105.192535,53796400
2015-01-23,112.300003,113.750000,111.529999,112.980003,105.735344,46464800
2015-01-26,113.739998,114.360001,112.800003,113.099998,105.847649,55615000
2015-01-27,112.419998,112.480003,109.029999,109.139999,102.141586,95568700
2015-01-28,117.629997,118.120003,115.309998,115.309998,107.915932,146477100
2015-01-29,116.320000,119.190002,115.559998,118.900002,111.275742,84436400
2015-01-30,118.400002,120.000000,116.849998,117.160004,109.647324,83745500
2015-02-02,118.050003,119.169998,116.080002,118.629997,111.023064,62739100
2015-02-03,118.500000,119.089996,117.610001,118.650002,111.041771,51915700
2015-02-04,118.500000,120.510002,118.309998,119.559998,111.893402,70149700
2015-02-05,120.019997,120.230003,119.250000,119.940002,112.692047,42246200
2015-02-06,120.019997,120.250000,118.449997,118.930000,111.743088,43706600
2015-02-09,118.550003,119.839996,118.430000,119.720001,112.485352,38889800
2015-02-10,120.169998,122.150002,120.160004,122.019997,114.646355,62008500
2015-02-11,122.769997,124.919998,122.500000,124.879997,117.333511,73561800
2015-02-12,126.059998,127.480003,125.570000,126.459999,118.818039,74474500
2015-02-13,127.279999,127.279999,125.650002,127.080002,119.400589,54272200
...,...,...,...,...,...,...
2017-11-16,171.179993,171.869995,170.300003,171.100006,169.157410,23637500
2017-11-17,171.039993,171.389999,169.639999,170.149994,168.218185,21899500
2017-11-20,170.289993,170.559998,169.559998,169.979996,168.050110,16262400
2017-11-21,170.779999,173.699997,170.779999,173.139999,171.174255,25131300
2017-11-22,173.360001,175.000000,173.050003,174.960007,172.973587,25588900
2017-11-24,175.100006,175.500000,174.649994,174.970001,172.983475,14026700
2017-11-27,175.050003,175.080002,173.339996,174.089996,172.113464,20716800
2017-11-28,174.300003,174.869995,171.860001,173.070007,171.105042,26428800
2017-11-29,172.630005,172.919998,167.160004,169.479996,167.555801,41666400
2017-11-30,170.429993,172.139999,168.440002,171.850006,169.898895,41527200
2017-12-01,169.949997,171.669998,168.500000,171.050003,169.107971,39759300
2017-12-04,172.479996,172.619995,169.630005,169.800003,167.872177,32542400
2017-12-05,169.059998,171.520004,168.399994,169.639999,167.713974,27350200
2017-12-06,167.500000,170.199997,166.460007,169.009995,167.091141,28560000
2017-12-07,169.029999,170.440002,168.910004,169.320007,167.397629,25673300
2017-12-08,170.490005,171.000000,168.820007,169.369995,167.447037,23355200
2017-12-11,169.199997,172.889999,168.789993,172.669998,170.709595,35273800
2017-12-12,172.149994,172.389999,171.460007,171.699997,169.750595,19409200
2017-12-13,172.500000,173.539993,172.000000,172.270004,170.314117,23818400
2017-12-14,172.399994,173.130005,171.649994,172.220001,170.264694,20476500
2017-12-15,173.630005,174.169998,172.460007,173.970001,171.994812,40169300
2017-12-18,174.880005,177.199997,174.860001,176.419998,174.417007,29421100
2017-12-19,175.029999,175.389999,174.089996,174.539993,172.558350,27436400
2017-12-20,174.869995,175.419998,173.250000,174.350006,172.370514,23475600
2017-12-21,174.169998,176.020004,174.100006,175.009995,173.023026,20949900
2017-12-22,174.679993,175.419998,174.500000,175.009995,173.023026,16349400
2017-12-26,170.800003,171.470001,169.679993,170.570007,168.633423,33185500
2017-12-27,170.100006,170.779999,169.710007,170.600006,168.663101,21498200
2017-12-28,171.000000,171.850006,170.479996,171.080002,169.137650,16480200
2017-12-29,170.520004,170.589996,169.220001,169.229996,167.308640,25999900

In [5]:
# Graficar precios de cierre y precios de cierre ajustados
aapl[['Close','Adj Close']].plot(figsize=(8,6));

#### Anotación #2
- Para nuestra aplicación solo nos interesan los precios de cierre de las acciones (columna Adj Close).

In [6]:
# Cargamos hoja de calculo en un dataframe
aapl=pd.read_csv("precios/AAPL.csv",index_col='Date',usecols=['Date','Adj Close'])
aapl.columns=['AAPL']
aapl

                  AAPL
Date
2015-01-02  102.319397
2015-01-05   99.436890
2015-01-06   99.446251
2015-01-07  100.840714
2015-01-08  104.715256
2015-01-09  104.827553
2015-01-12  102.244522
2015-01-13  103.152313
2015-01-14  102.759262
2015-01-15   99.970337
2015-01-16   99.193558
2015-01-20  101.748512
2015-01-21  102.525291
2015-01-22  105.192535
2015-01-23  105.735344
2015-01-26  105.847649
2015-01-27  102.141586
2015-01-28  107.915932
2015-01-29  111.275742
2015-01-30  109.647324
2015-02-02  111.023064
2015-02-03  111.041771
2015-02-04  111.893402
2015-02-05  112.692047
2015-02-06  111.743088
2015-02-09  112.485352
2015-02-10  114.646355
2015-02-11  117.333511
2015-02-12  118.818039
2015-02-13  119.400589
...                ...
2017-11-16  169.157410
2017-11-17  168.218185
2017-11-20  168.050110
2017-11-21  171.174255
2017-11-22  172.973587
2017-11-24  172.983475
2017-11-27  172.113464
2017-11-28  171.105042
2017-11-29  167.555801
2017-11-30  169.898895
2017-12-01  169.107971
2017-12-04  167.872177
2017-12-05  167.713974
2017-12-06  167.091141
2017-12-07  167.397629
2017-12-08  167.447037
2017-12-11  170.709595
2017-12-12  169.750595
2017-12-13  170.314117
2017-12-14  170.264694
2017-12-15  171.994812
2017-12-18  174.417007
2017-12-19  172.558350
2017-12-20  172.370514
2017-12-21  173.023026
2017-12-22  173.023026
2017-12-26  168.633423
2017-12-27  168.663101
2017-12-28  169.137650
2017-12-29  167.308640

[755 rows x 1 columns]

**Actividad.** Importen todos los archivos .csv como acabamos de hacerlo con el de apple. Además, crear un solo DataFrame que cuyos encabezados por columna sean los nombres respectivos (AAPL, AMZN,...) y contengan los datos de precio de cierre.

In [12]:
# Cargamos hoja de calculo en un dataframe
aapl=pd.read_csv("precios/AAPL.csv",index_col='Date',usecols=['Date','Adj Close'])
aapl.columns=['AAPL']
amzn=pd.read_csv("precios/AMZN.csv",index_col='Date',usecols=['Date','Adj Close'])
amzn.columns=['amzn']
closes=pd.DataFrame(index=aapl.index,columns=['AAPL','AMZN'])
closes.index.name='Date'
closes['AAPL']=aapl
closes['AMZN']=amzn
closes

                  AAPL         AMZN
Date
2015-01-02  102.319397   308.519989
2015-01-05   99.436890   302.190002
2015-01-06   99.446251   295.290009
2015-01-07  100.840714   298.420013
2015-01-08  104.715256   300.459991
2015-01-09  104.827553   296.929993
2015-01-12  102.244522   291.410004
2015-01-13  103.152313   294.739990
2015-01-14  102.759262   293.269989
2015-01-15   99.970337   286.950012
2015-01-16   99.193558   290.739990
2015-01-20  101.748512   289.440002
2015-01-21  102.525291   297.250000
2015-01-22  105.192535   310.320007
2015-01-23  105.735344   312.390015
2015-01-26  105.847649   309.660004
2015-01-27  102.141586   306.750000
2015-01-28  107.915932   303.910004
2015-01-29  111.275742   311.779999
2015-01-30  109.647324   354.529999
2015-02-02  111.023064   364.470001
2015-02-03  111.041771   363.549988
2015-02-04  111.893402   364.750000
2015-02-05  112.692047   373.890015
2015-02-06  111.743088   374.279999
2015-02-09  112.485352   370.559998
2015-02-10  114.646355   373.000000
2015-02-11  117.333511   375.140015
2015-02-12  118.818039   377.170013
2015-02-13  119.400589   381.829987
...                ...          ...
2017-11-16  169.157410  1137.290039
2017-11-17  168.218185  1129.880005
2017-11-20  168.050110  1126.310059
2017-11-21  171.174255  1139.489990
2017-11-22  172.973587  1156.160034
2017-11-24  172.983475  1186.000000
2017-11-27  172.113464  1195.829956
2017-11-28  171.105042  1193.599976
2017-11-29  167.555801  1161.270020
2017-11-30  169.898895  1176.750000
2017-12-01  169.107971  1162.349976
2017-12-04  167.872177  1133.949951
2017-12-05  167.713974  1141.569946
2017-12-06  167.091141  1152.349976
2017-12-07  167.397629  1159.790039
2017-12-08  167.447037  1162.000000
2017-12-11  170.709595  1168.920044
2017-12-12  169.750595  1165.079956
2017-12-13  170.314117  1164.130005
2017-12-14  170.264694  1174.260010
2017-12-15  171.994812  1179.140015
2017-12-18  174.417007  1190.579956
2017-12-19  172.558350  1187.380005
2017-12-20  172.370514  1177.619995
2017-12-21  173.023026  1174.760010
2017-12-22  173.023026  1168.359985
2017-12-26  168.633423  1176.760010
2017-12-27  168.663101  1182.260010
2017-12-28  169.137650  1186.099976
2017-12-29  167.308640  1169.469971

[755 rows x 2 columns]

## 2. Descargar los datos remotamente
Para esto utilizaremos el paquete *pandas_datareader*.

**Nota**: Usualmente, las distribuciones de Python no cuentan, por defecto, con el paquete *pandas_datareader*. Por lo que será necesario instalarlo aparte:
- buscar en inicio "Anaconda prompt" y ejecutarlo como administrador;
- el siguiente comando instala el paquete en Anaconda: *conda install pandas-datareader*;
- una vez finalice la instalación correr el comando: *conda list*, y buscar que sí se haya instalado pandas-datareader

In [27]:
# Importar el modulo data del paquete pandas_datareader. La comunidad lo importa con el nombre de web
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web

El módulo data del paquete pandas_datareader contiene la funcion `DataReader`:

In [50]:
# Función DataReader
web.DataReader

- A esta función le podemos especificar la fuente de los datos para que se use la api específica para la descarga de datos de cada fuente.
- Fuentes:
 - Google Finance: su api ya no sirve.
 - Quandl: solo permite descargar datos de equities estadounidenses de manera gratuita, y una a la vez. Es la base de datos más completa.
 - IEX: los datos tienen antiguedad máxima de 5 años y de equities estadounidenses.
 - Yahoo! Finance: su api ha tenido cambios significativos y ya no es posible usarla desde DataReader. Sin embargo permite obtener datos de distintas bolsas (incluida la mexicana), por eso le haremos la luchita.

In [30]:
# Ejemplo google finance
ticker='AAPL'
source='google'
start='2015-01-01'
end='2017-12-31'
aapl_goo=web.DataReader(ticker,source,start,end)

C:\Users\Diana\Anaconda3\lib\site-packages\pandas_datareader\google\daily.py:40: UnstableAPIWarning:
The Google Finance API has not been stable since late 2017. Requests seem
to fail at random. Failure is especially common when bulk downloading.

  warnings.warn(UNSTABLE_WARNING, UnstableAPIWarning)

RemoteDataError: Unable to read URL: https://finance.google.com/finance/historical?q=AAPL&startdate=Jan+01%2C+2015&enddate=Dec+31%2C+2017&output=csv
Response Text:
b'<html><head><meta http-equiv="content-type" content="text/html; charset=utf-8"/><title>Sorry...</title><style> body { font-family: verdana, arial, sans-serif; background-color: #fff; color: #000; }</style></head><body><div><table><tr><td><b><font face=sans-serif size=10><font color=#4285f4>G</font><font color=#ea4335>o</font><font color=#fbbc05>o</font><font color=#4285f4>g</font><font color=#34a853>l</font><font color=#ea4335>e</font></font></b></td><td style="text-align: left; vertical-align: bottom; padding-bottom: 15px; width: 50%"><div style="border-bottom: 1px solid #dfdfdf;">Sorry...</div></td></tr></table></div><div style="margin-left: 4em;"><h1>We\'re sorry...</h1><p>... but your computer or network may be sending automated queries. To protect our users, we can\'t process your request right now.</p></div><div style="margin-left: 4em;">See <a href="https://support.google.com/websearch/answer/86640">Google Help</a> for more information.<br/><br/></div><div style="text-align: center; border-top: 1px solid #dfdfdf;"><a href="https://www.google.com">Google Home</a></div></body></html>'

In [32]:
# Ejemplo quandl
ticker='AAPL'
source='quandl'
start='2015-01-01'
end='2017-12-31'
aapl_qua=web.DataReader(ticker,source,start,end)
aapl_qua

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-12-29,170.520,170.5900,169.2200,169.230,25643711.0,0.00,1.0,170.520000,170.590000,169.220000,169.230000,25643711.0
2017-12-28,171.000,171.8500,170.4800,171.080,15997739.0,0.00,1.0,171.000000,171.850000,170.480000,171.080000,15997739.0
2017-12-27,170.100,170.7800,169.7100,170.600,21672062.0,0.00,1.0,170.100000,170.780000,169.710000,170.600000,21672062.0
2017-12-26,170.800,171.4700,169.6790,170.570,32968167.0,0.00,1.0,170.800000,171.470000,169.679000,170.570000,32968167.0
2017-12-22,174.680,175.4240,174.5000,175.010,16052615.0,0.00,1.0,174.680000,175.424000,174.500000,175.010000,16052615.0
2017-12-21,174.170,176.0200,174.1000,175.010,20356826.0,0.00,1.0,174.170000,176.020000,174.100000,175.010000,20356826.0
2017-12-20,174.870,175.4200,173.2500,174.350,23000392.0,0.00,1.0,174.870000,175.420000,173.250000,174.350000,23000392.0
2017-12-19,175.030,175.3900,174.0900,174.540,27078872.0,0.00,1.0,175.030000,175.390000,174.090000,174.540000,27078872.0
2017-12-18,174.880,177.2000,174.8600,176.420,28831533.0,0.00,1.0,174.880000,177.200000,174.860000,176.420000,28831533.0
2017-12-15,173.630,174.1700,172.4600,173.870,37054632.0,0.00,1.0,173.630000,174.170000,172.460000,173.870000,37054632.0
2017-12-14,172.400,173.1300,171.6500,172.220,20219307.0,0.00,1.0,172.400000,173.130000,171.650000,172.220000,20219307.0
2017-12-13,172.500,173.5400,172.0000,172.270,23142242.0,0.00,1.0,172.500000,173.540000,172.000000,172.270000,23142242.0
2017-12-12,172.150,172.3900,171.4610,171.700,18945457.0,0.00,1.0,172.150000,172.390000,171.461000,171.700000,18945457.0
2017-12-11,169.200,172.8900,168.7900,172.670,33092051.0,0.00,1.0,169.200000,172.890000,168.790000,172.670000,33092051.0
2017-12-08,170.490,171.0000,168.8200,169.370,23096872.0,0.00,1.0,170.490000,171.000000,168.820000,169.370000,23096872.0
2017-12-07,169.030,170.4400,168.9100,169.452,24469613.0,0.00,1.0,169.030000,170.440000,168.910000,169.452000,24469613.0
2017-12-06,167.500,170.2047,166.4600,169.010,28224357.0,0.00,1.0,167.500000,170.204700,166.460000,169.010000,28224357.0
2017-12-05,169.060,171.5200,168.4000,169.640,27008428.0,0.00,1.0,169.060000,171.520000,168.400000,169.640000,27008428.0
2017-12-04,172.480,172.6200,169.6300,169.800,32115052.0,0.00,1.0,172.480000,172.620000,169.630000,169.800000,32115052.0
2017-12-01,169.950,171.6700,168.5000,171.050,39590080.0,0.00,1.0,169.950000,171.670000,168.500000,171.050000,39590080.0
2017-11-30,170.430,172.1400,168.4400,171.850,40172368.0,0.00,1.0,170.430000,172.140000,168.440000,171.850000,40172368.0
2017-11-29,172.630,172.9200,167.1600,169.480,40788324.0,0.00,1.0,172.630000,172.920000,167.160000,169.480000,40788324.0
2017-11-28,174.300,174.8700,171.8600,173.070,25468442.0,0.00,1.0,174.300000,174.870000,171.860000,173.070000,25468442.0
2017-11-27,175.050,175.0800,173.3400,174.090,20536313.0,0.00,1.0,175.050000,175.080000,173.340000,174.090000,20536313.0
2017-11-24,175.100,175.5000,174.6459,174.970,14026519.0,0.00,1.0,175.100000,175.500000,174.645900,174.970000,14026519.0
2017-11-22,173.360,175.0000,173.0500,174.960,24997274.0,0.00,1.0,173.360000,175.000000,173.050000,174.960000,24997274.0
2017-11-21,170.780,173.7000,170.7800,173.140,24875471.0,0.00,1.0,170.780000,173.700000,170.780000,173.140000,24875471.0
2017-11-20,170.290,170.5600,169.5600,169.980,15974387.0,0.00,1.0,170.290000,170.560000,169.560000,169.980000,15974387.0
2017-11-17,171.040,171.3900,169.6400,170.150,21665811.0,0.00,1.0,171.040000,171.390000,169.640000,170.150000,21665811.0
2017-11-16,171.180,171.8700,170.3000,171.100,23497326.0,0.00,1.0,171.180000,171.870000,170.300000,171.100000,23497326.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-02-13,127.280,127.2800,125.6500,127.080,54272219.0,0.00,1.0,121.390359,121.390359,119.835784,121.199614,54272219.0
2015-02-12,126.060,127.4800,125.5700,126.460,74474466.0,0.00,1.0,120.226812,121.581104,119.759486,120.608303,74474466.0
2015-02-11,122.770,124.9200,122.5000,124.880,73561797.0,0.00,1.0,117.089051,119.139564,116.831544,119.101414,73561797.0
2015-02-10,120.170,122.1500,120.1600,122.020,62008506.0,0.00,1.0,114.609361,116.497740,114.599823,116.373756,62008506.0
2015-02-09,118.550,119.8400,118.4300,119.720,38889797.0,0.00,1.0,113.064323,114.294631,112.949876,114.180184,38889797.0
2015-02-06,120.020,120.2500,118.4500,118.930,43706567.0,0.00,1.0,114.466302,114.685659,112.968951,113.426739,43706567.0
2015-02-05,120.020,120.2300,119.2500,119.940,42246245.0,0.47,1.0,114.466302,114.666584,113.731932,114.390004,42246245.0
2015-02-04,118.500,120.5100,118.3090,119.560,70149743.0,0.00,1.0,112.575496,114.485004,112.394045,113.582500,70149743.0
2015-02-03,118.500,119.0900,117.6100,118.650,51915749.0,0.00,1.0,112.575496,113.135998,111.729992,112.717996,51915749.0
2015-02-02,118.050,119.1700,116.0800,118.630,62739100.0,0.00,1.0,112.147994,113.211998,110.276485,112.698996,62739100.0
2015-01-30,118.400,120.0000,116.8500,117.160,83745461.0,0.00,1.0,112.480495,114.000502,111.007989,111.302490,83745461.0
2015-01-29,116.320,119.1900,115.5600,118.900,84436432.0,0.00,1.0,110.504486,113.230998,109.782483,112.955497,84436432.0
2015-01-28,117.625,118.1200,115.3100,115.310,146477063.0,0.00,1.0,111.744242,112.214494,109.544982,109.544982,146477063.0
2015-01-27,112.420,112.4800,109.0300,109.140,95568749.0,0.00,1.0,106.799470,106.856470,103.578956,103.683456,95568749.0
2015-01-26,113.740,114.3626,112.8000,113.100,55614979.0,0.00,1.0,108.053476,108.644948,107.160472,107.445473,55614979.0
2015-01-23,112.300,113.7500,111.5300,112.980,46464828.0,0.00,1.0,106.685470,108.062976,105.953966,107.331473,46464828.0
2015-01-22,110.260,112.4700,109.7200,112.400,53796409.0,0.00,1.0,104.747461,106.846970,104.234459,106.780470,53796409.0
2015-01-21,108.950,111.0600,108.2700,109.550,48575897.0,0.00,1.0,103.502956,105.507464,102.856953,104.072958,48575897.0
2015-01-20,107.840,108.9667,106.5000,108.720,49899907.0,0.00,1.0,102.448451,103.518821,101.175445,103.284455,49899907.0
2015-01-16,107.030,107.5800,105.2000,105.990,78513345.0,0.00,1.0,101.678948,102.201450,99.940440,100.690943,78513345.0
2015-01-15,110.000,110.0600,106.6600,106.820,60013996.0,0.00,1.0,104.500460,104.557460,101.327446,101.479447,60013996.0
2015-01-14,109.040,110.4900,108.5000,109.800,48956588.0,0.00,1.0,103.588456,104.965962,103.075454,104.310459,48956588.0
2015-01-13,111.430,112.8000,108.9100,110.220,67091928.0,0.00,1.0,105.858966,107.160472,103.464955,104.709461,67091928.0
2015-01-12,112.600,112.6300,108.8000,109.250,49650790.0,0.00,1.0,106.970471,106.998971,103.360455,103.787957,49650790.0
2015-01-09,112.670,113.2500,110.2100,112.010,53315099.0,0.00,1.0,107.036971,107.587974,104.699961,106.409968,53315099.0
2015-01-08,109.230,112.1500,108.7000,111.890,59364547.0,0.00,1.0,103.768957,106.542969,103.265455,106.295968,59364547.0
2015-01-07,107.200,108.2000,106.6950,107.750,40105934.0,0.00,1.0,101.840448,102.790453,101.360696,102.362951,40105934.0
2015-01-06,106.540,107.4300,104.6300,106.260,65797116.0,0.00,1.0,101.213446,102.058949,99.398938,100.947444,65797116.0
2015-01-05,108.290,108.6500,105.4100,106.250,64285491.0,0.00,1.0,102.875953,103.217954,100.139941,100.937944,64285491.0
2015-01-02,111.390,111.4400,107.3500,109.330,53204626.0,0.00,1.0,105.820966,105.868466,101.982949,103.863957,53204626.0

In [33]:
# Ejemplo iex
ticker='AAPL'
source='iex'
start='2015-01-01'
end='2017-12-31'
aapl_iex=web.DataReader(ticker,source,start,end)
aapl_iex

5y

                open      high       low     close     volume
date
2015-01-02  104.2471  104.2939  100.4662  102.3192   53204626
2015-01-05  101.3459  101.6828   98.6506   99.4367   64285491
2015-01-06   99.7082  100.5411   97.9206   99.4461   65797116
2015-01-07  100.3258  101.2617   99.8532  100.8406   40105934
2015-01-08  102.2257  104.9584  101.7296  104.7151   59364547
2015-01-09  105.4451  105.9879  103.1428  104.8274   53699527
2015-01-12  105.3796  105.4076  101.8232  102.2444   49650790
2015-01-13  104.2846  105.5667  101.9262  103.1522   67091928
2015-01-14  102.0478  103.4049  101.5425  102.7591   48956588
2015-01-15  102.9463  103.0024   99.8205   99.9702   60013996
2015-01-16  100.1667  100.6815   98.4541   99.1934   78513345
2015-01-20  100.9248  101.9792   99.6707  101.7484   49899907
2015-01-21  101.9636  103.9383  101.3272  102.5251   48575897
2015-01-22  103.1896  105.2579  102.6842  105.1924   53796409
2015-01-23  105.0988  106.4558  104.3782  105.7352   46464828
2015-01-26  106.4465  107.0291  105.5667  105.8475   55614979
2015-01-27  105.2111  105.2672  102.0385  102.1414   95568749
2015-01-28  110.0823  110.5456  107.9158  107.9158  146477063
2015-01-29  108.8610  111.5470  108.1497  111.2756   84436432
2015-01-30  110.8076  112.3050  109.3570  109.6471   83745461
2015-02-02  110.4801  111.5283  108.6364  111.0229   62739100
2015-02-03  110.9012  111.4534  110.0683  111.0416   51915749
2015-02-04  110.9012  112.7823  110.7225  111.8932   70149743
2015-02-05  112.7670  112.9643  112.0436  112.6919   42246245
2015-02-06  112.7670  112.9831  111.2919  111.7429   43706567
2015-02-09  111.3859  112.5979  111.2731  112.4852   38889797
2015-02-10  112.9080  114.7683  112.8986  114.6462   62008506
2015-02-11  115.3509  117.3709  115.0972  117.3333   73561797
2015-02-12  118.4420  119.7762  117.9816  118.8179   74474466
2015-02-13  119.5883  119.5883  118.0568  119.4004   54272219
...              ...       ...       ...       ...        ...
2017-11-16  169.2364  169.9186  168.3664  169.1574   23637484
2017-11-17  169.0980  169.4441  167.7139  168.2181   21899544
2017-11-20  168.3566  168.6235  167.6348  168.0501   16262447
2017-11-21  168.8410  171.7278  168.8410  171.1742   25131295
2017-11-22  171.3917  173.0131  171.0852  172.9735   25588925
2017-11-24  173.1119  173.5074  172.6630  172.9834   14026673
2017-11-27  173.0625  173.0922  171.3719  172.1134   20716802
2017-11-28  172.3210  172.8846  169.9087  171.1050   26428802
2017-11-29  170.6700  170.9567  165.2621  167.5558   41666364
2017-11-30  168.4950  170.1855  166.5276  169.8988   41527218
2017-12-01  168.0204  169.7209  166.5869  169.1079   39759288
2017-12-04  170.5217  170.6601  167.7040  167.8721   32542385
2017-12-05  167.1405  169.5726  166.4880  167.7139   27350154
2017-12-06  165.5982  168.2722  164.5700  167.0911   28560000
2017-12-07  167.1109  168.5049  166.9922  167.3976   25673308
2017-12-08  168.5543  169.0585  166.9032  167.4470   23355231
2017-12-11  167.2789  170.9270  166.8736  170.7095   35273759
2017-12-12  170.1954  170.4327  169.5143  169.7505   19409230
2017-12-13  170.5415  171.5697  170.0471  170.3141   23818447
2017-12-14  170.4426  171.1643  169.7011  170.2646   20476541
2017-12-15  171.6586  172.1925  170.5019  171.9948   40169307
2017-12-18  172.8944  175.1881  172.8747  174.4170   29421114
2017-12-19  173.0427  173.3987  172.1134  172.5583   27436447
2017-12-20  172.8846  173.4283  171.2829  172.3705   23475649
2017-12-21  172.1925  174.0215  172.1233  173.0230   20949896
2017-12-22  172.6967  173.4323  172.5188  173.0230   16349444
2017-12-26  168.8608  169.5232  167.7525  168.6334   33185536
2017-12-27  168.1687  168.8410  167.7831  168.6630   21498213
2017-12-28  169.0585  169.8988  168.5444  169.1376   16480187
2017-12-29  168.5839  168.6531  167.2987  167.3086   25999922

[755 rows x 5 columns]

In [34]:
# Ejemplo yahoo
ticker='AAPL'
source='yahoo'
start='2015-01-01'
end='2017-12-31'
aapl_yahoo=web.DataReader(ticker,source,start,end)
aapl_yahoo

ImmediateDeprecationError:
Yahoo Daily has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

Intentamos con la función YahooDailyReader

In [65]:
# YahooDailyReader

In [66]:
# Ejemplo

Sin embargo no se pueden descargar varios a la vez. Intentémoslo hacer nosotros así sea de manera rudimentaria:

In [68]:
# Crear función para descargar precios de cierre ajustados de varios activos a la vez:
def download_closes(tickers, start_date, end_date):
    import pandas as pd
    pd.core.common.is_list_like = pd.api.types.is_list_like
    import pandas_datareader.data as web
    closes = pd.DataFrame(columns = tickers, index=web.YahooDailyReader(tickers[0], start_date, end_date).read().index)
    for ticker in tickers:
        df = web.YahooDailyReader(ticker, start_date, end_date).read()
        closes[ticker]=df['Adj Close']
    closes.index_name = 'Date'
    closes = closes.sort_index()
    return closes

A veces, no lee a la primera. La api es inestable. Intentar varias veces.

**Nota**: Para descargar datos de la bolsa mexicana de valores (BMV), el ticker debe tener la extensión MX. 
Por ejemplo: *MEXCHEM.MX*, *LABB.MX*, *GFINBURO.MX* y *GFNORTEO.MX*.

In [77]:
# Ejemplo: 'AAPL', 'MSFT', 'NVDA', '^GSPC'

In [ ]:
# Gráfico

**Conclusión**
- Aprendimos a importar datos desde archivos locales.
- Aprendimos a importar datos remotamente con el paquete pandas_datareader. Queda pendiente Infosel (después vemos esto).

¿Ahora qué? Pues con estos históricos, obtendremos los rendimientos y ellos nos servirán como base para caracterizar la distribución de rendimientos... 

### ¡Oh, si!

# Anuncios parroquiales:
## 1. Recordar tarea para hoy.

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Esteban Jiménez Rodríguez.
</footer>